* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}



.list, .links, .Button1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 650;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  writing-mode: horizontal;
  text-orientation: upright;
  text-transform: uppercase;
}



header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #3378B9;
}

nav {
  width: 1600px;
}

.logo {
  max-width:12.5%;
  height:auto;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  margin-left: 5%;
}

.nav_links li a {
  transition: all 0.3s ease 0;
}

.nav_links li a:hover {
  color: #0088a9
}

.Button1 {
  padding: 9px 25px;
  background-color: rgba(18,17,68,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

.Button1:hover {
  background-color: rgba(18,17,68,0.8);
}


.Intro {
  width: 100%;
  height: 275px;
}


.Intro h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-left: 150px;
  margin-top: 85px;
  width: 80%;
  color: #3f3f40;
}

.movingboat {
  background-color: #3378B9;
  width: 100%;
  height: 150px;
}

.movingboat .Boat {
  position: relative;
  margin-top: 25px;
  left: 130px;
  height: auto;
  width: 6%;
  z-index: 25;
}

.hoe1 {
  height: 600px;
  width: 100%;
  background-image:         linear-gradient(100deg, #3378B9 20%, white 0.0001%);
}


.hoe1_head {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  margin-left: 100px;
  margin-top: 85px;
}

.hoe1_img {
  height: 600px;
}

.hoe1_content {
 display: flex;
 margin-left: 150px;
}

.hoe1_text {
  display: block;
  height: 650px;
}

.hoe1 p {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  position: relative;
  margin-left: 100px;
  width: 70%;

}

.content {
  width: 300px;
  height: auto;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  position: relative;
  top: 85px;
}


.hoe2 {
  display: flex;
  width: 100%;
  height: 525px;
  background-color: #3378B9;
}

.hoe_2tekst {
  width: 75%;
  height: 500px;
}



.hoe2_tekst h1, .hoe2_tekst p {
  position: relative;
  top: 50px;
  left: 150px;
  color: #edf0f1;
  font-family: "Open Sans", sans-serif;


}

.hoe2_tekst h1 {
  font-size: 45px;
  font-weight: 800;
  width: 900px;
}

.hoe2_tekst p {
  font-size: 22px;
  font-weight: lighter;
  width: 900px;
}

.hoe2_gallery {
  width: 35%;
  height: 600px;


}

.hoe2_pictures {
  width: 80%;
  height: auto;
  margin-top: 80px;
  margin-left: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.footer {
  width: 100%;
}

.footer-content {
  height: 250px;;
  background-color: #2265a3;
}

.footer-content {
  display: flex;
}

.footer-copyright {
  height: 75px;
  background-color: #1f5a91;

}

.logo-section {
  height: 250px;;
  width: 450px;
}

.logo-section img {
  height: 200px;;
  width: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 22px;
}

.Kopje {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
  writing-mode: horizontal;
  text-orientation: upright;
  text-transform: uppercase;
  word-wrap: break-word;
  list-style: none;
  transition: all 0.3s ease 0;
}

.Title  {
  font-family: 'Open Sans', sans-serif;
  font-weight: 650;
  font-size: 30px;
  color: #edf0f1;
  text-decoration: none;
  writing-mode: horizontal;
  text-orientation: upright;
  text-transform: uppercase;
  word-wrap: break-word;
  list-style: none;

}

.about-section {
  height: 250px;;
  width: 1000px;
}

.about-section ul {
  margin-left: 750px;
  margin-top: 50px;
  position: relative;
}

.inschrijven-section ul {
  margin-left: 10px;
  margin-top: 50px;
  position: relative;
}

.inschrijven-section {
  height: 250px;;
  width: 400px;;
}

.Kopje:hover {
  color: rgba(237,240,241,0.4);
}

.footer-copyright h1 {
  position: relative;
  top: 25px;
  color: #edf0f1;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
